body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
}

header {
  background-color: #898989;
  color: #d4b79d;
  padding: 60px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

footer {
  background-color: #898989;
  color: #d4b79d;
  padding: 60px;
  text-align: center;
}

footer p {
  font-size: 1.2rem;
}

section {
  padding: 20px 0;
  background-color: #fff;;
  border-bottom: 1px solid #ddd;
}

#experience {
    background-color: #f8f9fa; /* Светло-серый */
}

#contact {
    background-color: #f8f9fa; /* Светло-серый */
}

.highlight {
    color: #a98762; 
    font-weight: bold;
     font-size: 1.2rem;
}

section h2 {
  font-size: 2rem;
  color: #d4b79d;
  margin-bottom: 20px;
}

section p {
  font-size: 1rem;
  line-height: 1.6;
}

section .job {
  margin-bottom: 20px;
}

section .job h3 {
  font-size: 1.5rem;
  color: #d4b79d;
}

/*section .job ul {
  list-style: disc;
  margin-left: 20px;
}

section .job ul {
  list-style: none;
  margin-left: 20px;
}

section .job ul li {
  position: relative;
  padding-left: 10px;
  margin-bottom: 8px;
}

section .job ul li::before {
  content: "♦"; /* Заполненный ромб 
  color: #d4b79d;}
*/

/* Для всех списков на странице */
ul {
  list-style: none;
  margin-left: 20px;
}

ul li {
  position: relative;
  padding-left: 10px;
  margin-bottom: 8px;
}

ul li::before {
  content: "♦"; /* Заполненный ромб */
  color: #d4b79d; /* Цвет как у заголовков */
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}


.button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin: 20px;
}

.button:hover {
  background-color: #217dbb;
}

body {
  box-sizing: border-box;
  margin: 0;
}
